* {
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;  
}

/* HEADER */
header {
  height: 8vh;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  color: #fff;
  margin: 8px;
}

.icone-header {
  width: 45px;
  height: 35px;
}

.icone-titulo-header {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

span {
  color: #fff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-fill-color: blueviolet;
}
header button {
  padding: 8px 18px;
  background-color: blueviolet;
  color: #fff;
  margin-right: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

main {
  text-align: center;
  background-color: #000;
}

footer {
  bottom: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(73, 1, 73);
  flex-direction: column;
}

footer > div > a > img {
 width: 30px;
}

footer > div {
  color: white;
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.main-container {
  height: 84%;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px 0 20px 20px;
  background-color: rgb(73, 1, 73);
}